@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.MathJax > svg{  
  max-width: 100%;  
}

/* 
li > ol {
  list-style-type: 'upper-alpha',  
} */
@layer base {
  /* ul, ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  } */
}
@layer components {
  .btn {
    @apply font-bold py-2 px-3 rounded;
  }
  
  .btn:disabled{
    @apply opacity-50 cursor-not-allowed;
  }
  .btn-outline {
    @apply bg-transparent text-blue-700 border border-blue-500;
  }
  .btn-outline:hover {
    @apply bg-blue-500 text-white border-transparent;
  }



  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .btn-red {
    @apply bg-red-500 text-white;
  }
  .btn-red:hover {
    @apply bg-red-700;
  }

  .btn-green {
    @apply bg-green-500 text-white;
  }
  .btn-green:hover {
    @apply bg-green-700;
  }

}

body.background {
  /* background-color: white; */
  /* background-image: linear-gradient(to right bottom, #dde7f6, #c4d9f8, #abcbfa, #90bdfc, #72affd);   */
  /* background-image: linear-gradient(to right top, #dad8ff, #cdcbff, #bfbeff, #b0b1ff, #a1a5ff, #84acff, #63b1ff, #3cb6ff, #00c9ff, #00dbff, #28ecfb, #5ffbf1); */
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}
