@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.MathJax > svg{  
  max-width: 100%;  
}

/* 
li > ol {
  list-style-type: 'upper-alpha',  
} */
@layer base {
  .paper ul, ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  .paper table th,td
  {
    @apply border border-black dark:border-white;
  }
}
@layer components {
  .btn {
    @apply font-bold py-2 px-3 rounded;
  }
  
  .btn:disabled{
    @apply opacity-50 cursor-not-allowed;
  }
  .btn-outline {
    @apply bg-transparent text-blue-700 border border-blue-500;
  }
  .btn-outline:hover {
    @apply bg-blue-500 text-white border-transparent;
  }



  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .btn-red {
    @apply bg-red-500 text-white;
  }
  .btn-red:hover {
    @apply bg-red-700;
  }

  .btn-green {
    @apply bg-green-500 text-white;
  }
  .btn-green:hover {
    @apply bg-green-700;
  }

  .card {
    @apply block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  }
}



body.background {
  /* background-color: white; */
  /* background-image: linear-gradient(to right bottom, #dde7f6, #c4d9f8, #abcbfa, #90bdfc, #72affd);   */
  /* background-image: linear-gradient(to right top, #dad8ff, #cdcbff, #bfbeff, #b0b1ff, #a1a5ff, #84acff, #63b1ff, #3cb6ff, #00c9ff, #00dbff, #28ecfb, #5ffbf1); */
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

/* style the HTML output */
.math-function {
  color: darkorange;
  font-weight: bold;
}

.math-number {
  color: blueviolet;
  font-weight: bold;
}

.math-boolean {
  color: darkred;
}

.math-string {
  color: darkblue;
}

.math-string::before,
.math-string::after {
  content: "\"";
}

.math-property {
  font-style: italic;
}

.math-explicit-binary-operator::before,
.math-explicit-binary-operator::after {
  content: " ";
}

.math-separator::after,
.math-assignment-operator::after {
  content: " ";
}



@-webkit-keyframes rotatePushLeft {
  from { }
  to { opacity: 0; -webkit-transform: rotateY(90deg); }
}
@keyframes rotatePushLeft {
  from { }
  to { opacity: 0; -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
}

@-webkit-keyframes rotatePushRight {
  from { }
  to { opacity: 0; -webkit-transform: rotateY(-90deg); }
}
@keyframes rotatePushRight {
  from { }
  to { opacity: 0; -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
}
.step-next-exit {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotatePushLeft .8s both ease;
  animation: rotatePushLeft .8s both ease;
}
.step-back-exit {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotatePushRight .8s both ease;
  animation: rotatePushRight .8s both ease;
}

.step-back-exit, .step-next-exit {
  position: absolute;
  top:0px;
}


@-webkit-keyframes rotatePullRight {
  from { opacity: 0; -webkit-transform: rotateY(-90deg); }
}
@keyframes rotatePullRight {
  from { opacity: 0; -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
}

@-webkit-keyframes rotatePullLeft {
  from { opacity: 0; -webkit-transform: rotateY(90deg); }
}
@keyframes rotatePullLeft {
  from { opacity: 0; -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
}

.step-next-enter-active {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotatePullRight .5s both ease;
  animation: rotatePullRight .5s both ease;
}

.step-back-enter-active {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotatePullLeft .5s both ease;
  animation: rotatePullLeft .5s both ease;  
}

.step-next-enter, .step-back-enter {
  -webkit-animation-delay: .180s;
  animation-delay: .180s;
}